// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'Nunito', sans-serif;
}

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

body{
    font-size: 16px;
}
.navbar-light {
    .navbar-nav {
        .nav-link {
            display: inline-block;
            color: rgba($dark, .7);
            text-transform: capitalize;

            &::first-letter,
            &>b {
                font-weight: bold;
                color: rgba($purple, .7);
            }

            &:hover::first-letter,
            &:focus::first-letter,
            &:hover>b,
            &:focus>b {
                font-weight: bold;
                color: rgba($purple, 1);
            }

            &:hover,
            &:focus {
                color: rgba($dark, 1);
            }
        }

        .show>.nav-link {
            display: inline-block;
            color: rgba($dark, .7);
            text-transform: capitalize;

            .nav-link::first-letter,
            &>b {
                font-weight: bold;
                color: rgba($purple, .7);
            }

        }

        .nav-link.active {
            display: inline-block;
            color: rgba($dark, 1);
            text-transform: capitalize;

            &::first-letter,
            &>b {
                font-weight: bold;
                color: rgba($purple, 1);
            }
        }
    }
}

.nav-link {
    display: inline-block;
    color: rgba($dark, .7);
    text-transform: capitalize;

    &:hover,
    &:focus {
        color: rgba($dark, 1);
    }

    &:hover::first-letter,
    &:focus::first-letter,
    &:hover>b,
    &:focus>b {
        font-weight: bold;

        color: rgba($purple, 1);
    }

    &::first-letter,
    &>b {
        text-transform: uppercase;
        font-weight: bold;
        color: rgba($purple, .7);
    }
}


a.navbar-brand.weed {
    position: relative;
    display: inline-block;
    width: 112px;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba($dark, 1);
    &::before ,&.logo::before{
        content: 'moke';
        visibility: hidden;
        position: absolute;
        font-style: italic;
        top: 8px;
        left: 20px;
        font-size: .6em;
        font-weight: bold;
        color: rgba(#620d95, 1);
    }
    &.logo::before {
        top: 6px;
        left: 16px;
    }

    &:hover::before,.logo:hover::before{
        visibility: visible;
    }

    &::after ,&.logo::after {
        content: '204';
        display: inline-block;
        position: absolute;
        top: 8px;
        right: -47px;  
        transform: rotate(42deg);
        font-size: .6em;
        font-weight: bold;
        clear: both;
    }
    &.logo::after {
        top: 5px;
    right: -6px;
    }

    &:hover::after,&.logo:hover::after  {
        content: "";
        visibility: hidden;
        clear: both;
    }


    &>b:nth-child(1), &.logo>b:nth-child(1) {
        color: rgba(#620d95, 1);
        font-size: 1.2em;
        font-style: italic;
    }
    &>b:nth-child(3),&.logo>b:nth-child(3)  {
        color: rgba(#458914, 1);
    }

    &>b:nth-child(4),&.logo>b:nth-child(4)  {
        display: inline-block;
    }

    &>b:nth-child(5),&.logo>b:nth-child(5)  {
        display: none;
    }

    &>span, &.logo>span {
        display: none;
    }

    &:hover,
    &:focus, 
    .logo:hover,
    .logo:focus {
        &>b:nth-child(4),&.logo>b:nth-child(4) {
            display: none;
        }

        &>b:nth-child(5) ,&.logo>b:nth-child(5){
            display: inline-block;
        }

        &>span , &.logo>span{
            display: block;
            position: absolute;
            font-size: .8em;
            transform: rotate(22deg);
            top: 0.6em;
            right: -1.9em;
            background: #23292e;
            padding: 0 .5em 0 0.4em;
            box-shadow: 5px 4px #80509c;
        }
        &.logo>span{
            top: 0.6em;
            right: 0.1em;
        }
        &>span>b,&.logo>span>b {
            &:nth-child(1) {
                color: rgba(#80509c, 1);
            }

            &:nth-child(2) {
                color: rgba($white, 1);
            }

            &:nth-child(3) {
                color: rgba(#8ab36e, 1);
            }

            &:nth-child(4) {
                color: rgba($white, 1);
            }
        }
    }
}


.weed-bg {
    background-image: url('https://scx2.b-cdn.net/gfx/news/2021/cannabis-has-been-used.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.3em;
}

.weed-content {
    color: white;
    font-size: 1.6em;
    font-weight: bold;
}
.login-forgot{
    display: flex;
    flex: 1 1 100%;
    justify-content:space-between;
    align-items: center;
}

.weed-border-bottom{
    border-bottom: 1px solid;
    border-image: linear-gradient(
45deg,#9f00c5,#4db700) 10;
}
@include media-breakpoint-down(sm) {
    .weed-bg {
        height: 128px;
        width: 93%;
        margin-bottom: 1.2em;
    }
    .login-forgot{
        flex: 0;
        flex-direction: column;
    }
    .weed.show{
        position: relative;
    }
    .weed > .navbar-nav{
        position: absolute;
    background-color: #f9fafa;
    border: 1.5px solid #798968;
    border-radius: .2rem;
    z-index: 1;
    padding-right: 5rem;
    padding-left: .6rem;
    right: 0px;
    box-shadow: 1px 1px 4px #858d8b75;
    }
   
}

@include media-breakpoint-up(sm) {
    .container-md.weed {
     
        & > .dropdown-menu.dropdown-menu-end{
          display: none;
        }
      }
}